.box-1{
  height: 400px;
  width: 400px;
  background-color: blue;
  float: left;
}

.box-2{
  height: 300px;
  width: 500px;
  float: right;
  background-color: red;
}

.sub-box{
  height: 150px;
  width: 250px;
  background-color: green;
  margin:75px 125px 75px 125px;
}

.box-3{
  height: 150px;
  width: 1200px;
  clear: both;
  background-color: pink;
}
